<div id="back">
    <div id="grey" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="120px">

        <div id="title">Túlélési tippek</div>



        <div class="szovegTomb">
            <div class="alcim">1. Gondoskodj a megfelelő ruházatról</div><br>
            <div class="cikk">
                <img id="ImgAgy" src="assets/haszagy.jpg" alt="vmi">
                A személyes felszerelés összeállításakor elsődleges fontosságú a megfelelő ruházat, aminek kiválasztása
                során törekednünk kell arra, hogy egyfelől megfelelő védelmet nyújtson, másfelől kellően mozgékonyak
                maradjunk. Egy lovagi páncél kiváló védelmet nyújthat, hiszen nincs az a zombi, aki átrágná magát rajta,
                viszont nem leszünk túl agilisek és idővel az éhes élőhalottak is képesek lesznek kibontani a
                konzervdobozt.
                <br><br>
                Az erős bőrből készült ruházat, mint amilyet a motorosok viselnek, megfelelő kompromisszumot
                jelenthetnek, de érdemes beszerezni egy olyan felszerelést is, mint ami a rohamrendőröknek van.
                Lehetőleg testünk egyetlen pontja se maradjon védelem nélkül, és ha nem vagyunk száz százalékig biztosak
                abban, hogy a levegőben nem terjed a fertőzés, akkor muszáj valamiféle maszkot is viselnünk.
                <br><br>
                Ha pedig a vadonba tervezzünk, menedéket keresni a zombik elől akkor nem árt beszerezni pár meleg,
                vízálló és túrázásra alkalmas ruhadarabot.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">2. Szerezz ételt</div><br>
            <div class="cikk">
                Mivel kicsi a valószínűsége, hogy találsz egy bevásárlóközpontot, tej-, hús- és üdítő-osztállyal és a
                beraktározott étel egy idő után el fog fogyni. Ezért itt az ideje, hogy megtanulj ételt szerezni
                magadnak! Koncentrálj a fehérje bevitelre! Nem lesz nehéz dolgod, legalább is, ami a megtalálásukat
                illeti! Már te is „állat” vagy, nekik is pont ugyan arra van szükségük, mint neked! Vízre, ételre és
                menedékre! Készítsd csapdákat a vízforrás környékén, vagy ahol sejteni véled a rejtekhelyüket! Még egy
                jó tanács: először a növényevőkre vadássz! Abból is a kisebbekre! Persze a vitamin pótlása is nagyon
                fontos, így ha kifogynál a vitamintabletta készletedből, akkor bogyók, gyümölcsök formájában pótolhatod
                azt. Persze, jobb, ha utána nézel, hogy miként tudod megkülönböztetni az ehető növényeket a mérgezőktől.
            </div>
        </div>


        <div class="szovegTomb">
            <div class="alcim">3. Keress vizet</div><br>
            <div class="cikk">
                Most is állandóan azt tuszkoljuk a fejedbe, hogy figyelj a folyadékpótlásra! Most pláne szükséged lesz
                rá! Hiába találtál tuti környéket, és építettél búvóhelyet, ha nincs a közelben víz. Anélkül elég rövid
                ideig élvezheted az új, szabad életmódot! Vizet úgy találsz, hogy elindulsz lefelé! Ha találtál egy
                patakot, ne kezd el azonnal megtölteni a kulacsot! Próbálj a lehető legközelebb jutni a víz forrásához,
                így a minimálisra csökkented a valószínűségét annak, hogy mérgezett vizet iszol (ha mondjuk, egy halott
                szarvas fekszik a patakban, te meg iszol a vízből, szintén nem leszel hosszú életű).
                <br><br>
                Ha nem találsz esetleg iható vizet, akkor se ess pánikba, hiszen te magad is meg tudod tisztítani. Ehhez
                érdemes beszerezni egy víztisztító készüléket vagy néhány jód tablettát, amivel könnyedén ivóvizet
                varázsolhatsz majd. Erősen ajánlott, hogy mindkettőből szerezz be, hiszen a víz az alapvető
                szükségleteink élén áll.
                <br><br>
                Ha pedig semmilyen víztiszti eszköz nem áll a rendelkezésedben, akkor az egyik legrégebbi módszert a víz
                felforralását kell alkalmaznod. A forralás azonban csak ideiglenes megoldás, ha a forralt vizet hosszabb
                ideig állni hagyjuk, akkor abban újra elszaporodhatnak a betegségeket okozó mikrobák.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">4. Sajátítsd el a tűzgyújtás jártasságát</div><br>
            <div class="cikk">
                Ugye az előbb említett víztisztítási eljáráshoz mindenképpen szükséged lesz tűzre, hiszen anélkül nem
                tudod majd felforralni a vizet illetve a táplálék elkészítésében is nagy szerepet játszik. Tehát a
                vadonban való túléléshez mindenképpen szükséged van arra, hogy elsajátítsd ezt a jártasságot. Ha van
                gyufád, vagy esetleg működő öngyújtód akkor ez nem tart sokáig. Illetve ezen felül még érdemes
                beszerezni egy csomag vattát, hiszen azon kívül, hogy sebesülés esetén remekül elállíthatja vérzést még
                tűzgyújtásra is alkalmas. Ha pedig nincsen nálad ilyesmi, akkor a legegyszerűbb, amit tehetsz, hogy két
                közepes sűrűségű ágat összedörzsölsz, plusz egy kis száraz fűvel. Ezt persze érdemes elkezdeni
                gyakorolni otthon! Készíts egy kis fészket a száraz fűből, és kezd el összedörzsölni a fákat, ha elkezd
                füstölni, óvatosan kezd el fújni, tudod, a tűzhöz oxigén kell!
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">5. Biztonságos helyszín kiválasztása</div><br>
            <div class="cikk" id="cikk2">
                A megfelelő helyszín kérdésben az emberek elképzelései elég eltérőek. Egy kutatásban részt vevők között
                háromból egy ember a padlástérbe menekülne zombi támadás eseten, ami a többi ember véleménye szerint a
                legrosszabb döntés ilyenkor. Bármelyik választás mellett is döntesz, érdemes figyelembe venned az egyes
                lehetőségek előnyeit és hátrányait.
                <br><br><br>
                <span>Ha a vadon mellett döntesz:</span>
                <br><br>
                <img id="ImgVadon" src="assets/csomag.jpg" alt="vmi">
                Egyesek szerin az egyik legfontosabb tanács zombi apokalipszis esetén, hogy a lakott területtől a lehető
                legtávolabb kell kerülni. És nem csak arról van szó, hogy az ember a zombik első számú célpontjává
                válik, azért is érdemes a népességtől távol vonulni, mert idővel élhetetlenné válik minden: nem lesz
                elektromosság, csapvíz és gáz sem. A legtöbben zombi apokalipsziskor nem akarnak küzdeni, és másik
                városba próbálnak menekülni, így a túlélés átlagos időtartama csupán néhány napra csökken.
                <br><br>
                Az új otthon kiválasztáskor figyelembe kell venni az időjárást, hogy van e víz a közelben illetve a
                nyersanyagok (fa, élelem stb.). A legjobb, ha az erdőbe költözöl! Nem vagy annyira kitéve az időjárás
                viszontagságainak, és bőven akad nyersanyag, hogy tüzet gyújts, vagy megépítsd az új otthonod! Ha
                rendelkezel egy sátorral akkor egyszerű dolgod van, de akkor se kezdj el a pánikolni ha saját magadnak
                kell megépítni a „tetőt” a fejed fölé, mert rendelkezésedre fog állni minden alapanyag az erdőben.
                Gyűjts faágakat, állítsd össze őket piramisformába, majd gyűjtögess rá páfrányt, avart, bármit, ami
                felfogja az esetleges nedvességet. És ami a másik legfontosabb ha nincs nálad egy hálózsák! Magad alá is
                tegyél száraz leveleket, fenyőágat, ami felfogja a meleget, és megvéd a hideg talajtól!
                <br><br><br>
                <span>Ha pedig inkább a város közelében maradnál:</span>
                <br><br>
                Egyesek szerint pedig azzal védhetjük meg magunkat leginkább, ha egy téglából vagy betonból épített,
                kevés nyílászáróval és elegendő alapterülettel rendelkező óvóhelyet kell találnunk. Egy atombunker vagy
                egy bank széfje elsőre jó ötletnek tűnhet, de nem szabad olyan helyet választani, ahol könnyen csapdába
                eshetünk.
                <br><br>
                Érdemes több, jól védhető kijárattal rendelkező menedéket választani, ahonnan van lehetőségünk
                elmenekülni vagy fosztogató körútra indulni. Mert bizony a menedékhely után a legfontosabb dolog a
                túléléshez elengedhetetlen felszerelés beszerzése. Emiatt érdemes olyan helyet választani, ami ha nem is
                egy város közepén, de legalábbis lakott terület peremvidékén helyezkedik el. A város közelében maradás
                egy nagy előnye, hogy könnyen lehet utánpótlást szerezni a szükséges felszerelésből. Azonban ekkor
                számolnunk kell azzal a ténnyel, hogy mivel így városban sok ember él, ezért ezzel arányosan nagyobb a
                zombik száma is.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">6. Készülj fel az elsősegélynyújtás természetes módszereiből</div><br>
            <div class="cikk">
                Nyilván nem lesz, nem is lehet menekülés közben mindenkinél egy elsősegélydoboz, ezért jó, ha tudunk pár
                praktikát. Például azt, hogy az erős vérzés elállításához jó szolgálatot tehet a cayenne-i bors
                (kiegyenlíti a vérnyomást, így a vért a testben tartva elősegíti a seb gyors összezáródását), a
                sebtapaszt pedig kiválthatja a nyírfatapló-gomba, ami antibakteriális tulajdonságokkal bír - ezt azonban
                jól meg kell tudni különböztetni, mert egyéb gombák inkább kárt tesznek, mint hasznot. Ha éppen
                láperdőben, nyírligetben vagy bükkösben ér minket utol a véres világvége, mindenképp nézzünk körül,
                városi utcán viszont nem fogunk találni ilyet.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">7. Szerezz be fegyvert, amivel megvédheted magadat</div><br>
            <div class="cikk">
                <img id="ImgWar" src="assets/warning.png" alt="vmi">
                A zombi színéből közel pontos következtetést vonhatunk le az átalakulás idejére vonatkozóan. Az
                élénkpiros, nedves zombi csak órákkal korábban alakult át, az alvadt vér, a végtagok részleges
                leszakadása és az átható bűz pár hetes tortúrára enged következtetni, míg a szürkés-zöldes zombi már
                hosszú hónapok, esetleg évek óta sóvárog a friss hús után. Ezt azért nagyon fontos megállapítani, mert a
                zombi érleltségi fokából következtethetünk annak gyorsaságára, ami fontos szerepet játszik a fegyver
                megválasztásában. A lassan mozgó egyedeket tompa tárgyakkal is hatástalaníthatjuk, míg a frissebbeket
                érdemes gyors golyózáporral leszerelni.
                <br><br>
                Fontos megjegyezni, a zombi nem érez fájdalmat, ezért teljesen felesleges kést döfni a szívébe, hasba
                szúrni, vagy egyéb módokon megsebezni. Minden egyes esetben a fejre kell céloznunk, hogy az amúgy is
                szegényes agyi kapacitását nullára csökkentsük. Amennyiben a helyzet engedi, olyan egyszerű eszközöket
                kell használnunk, mint a baseballütő, a piszkavas, a puskatus, az ásó, a különböző konyhai eszközök,
                esetleg egy leszakadt végtag. Minden golyóra szükség lesz később, ezért gépfegyvert csak indokolt
                esetben javasolt használni.

            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">8. Lehetőleg sose maradj egyedül</div><br>
            <div class="cikk">
                Természetesen, mint minden ilyen helyzetben, annál jobbak a túlélési esélyeink, minél többen vagyunk, és
                minél többféle dologhoz értünk. Szétválni sosem jó ötlet, de ha elég sok túlélő gyűlik össze, akkor már
                lehet két csoportot alakítani; az egyik a menedékhelyen marad, a másik pedig nekiindul készletet
                beszerezni. Ehhez azonban ajánlott beszerezni egy rádiót, hogy a csapatok tudják tartani egymással a
                kapcsolatot.
            </div>
        </div>




    </div>
</div>