<div id="back">
    <div id="grey" fxFlex fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="100px grid ">
        <div class="full" id="map"></div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="nev">Telefonszám</div>
            <div class="adat">+36 70 401 7666</div>
            <div class="nev">Email cím</div>
            <div class="adat">Zomibia@gmail.com</div>
            <div class="nev">Cím</div>
            <div class="adat">Shades of Death Rd, Great Meadows, New Jersey</div>
        </div>
    </div>
</div>