<div id="back">
    <div id="grey" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="120px">

        <div id="title">Sorozat ajánló</div>

        <div class="szovegTomb">
            <div class="cikk">
                A legnagyobb probléma, hogy igazán nem lehet tudni, hogy milyenek is a zombik. Szinte minden film vagy
                játék más típusú élőhalottakat mutat be a nagyközönségnek. És bár emiatt nehéz felkészülni a
                védekezésre, azért van néhány dolog, ami a zombik többségére jellemző, illetve egyes óvintézkedések
                általánosnak tekinthetőek. Szóval, ha szemfülesen tanulmányozzuk a zombikról készült alkotásokat, akkor
                kellően felkészülhetünk az apokalipszisre. Ezért is gyűjtöttünk össze pár művet, amiből még
                részletesebben megismerhetitek ezeket a különleges lényeket.
            </div>
        </div>


        <div class="szovegTomb">
            <div class="alcim">The Walking Dead</div><br>
            <div class="cikk">
                <img id="Img1" src="assets/walking.jpg" alt="vmi">
                Rick és partnere Shane fegyveres harcba keverednek, Rick-et találat éri és kómába esik, meghatározatlan
                idő múlva egy kórházban ébred ahol nincs senki csak a nagy felfordulás. Miután innen kijut, rá kell
                jönnie, hogy a városban sem más a helyzet. Hazatér de se fiát sem pedig feleségét nem találja,
                találkozik két túlélővel, akik hallották hogy Atlanta -ban van egy menekült tábor, elhatározza, hogy oda
                megy túlélőket valamint a feleségét és a fiát megkeresni...
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">iZombie</div><br>
            <div class="cikk">
                <img id="Img2" src="assets/izombie1.jpg" alt="vmi">
                A sorozat főszereplője Olivia "Liv" Moore, ígéretes karrier előtt álló orvostanhallgató. Ám váratlan
                dolog történik vele... Meghal, és zombiként kell tovább tengetnie "életét". Ahogy minden zombi, ő is
                agyat zabál, ám esetében nem egy embereket gyilkoló sánta, oszlásnak indult külsejű élőhalottról
                beszélünk. Liv egy teljesen átlagos külsejű lány, aki, hogy éhségét csillapíthassa, elszegődik
                rezidensnek egy hullaházba, hogy a már elhunyt emberek agyával lakjon jól. Ám meglepetésként éri, mikor
                rájön, a megevett agyakkal az elhunyt korábbi emlékeit és személyiségjegyeit is megkapja. Amikor a
                hullaházba új rendőr érkezik, a kicsit szétszórt Clive Babineaux nyomozó személyében, Liv eldönti,
                szeretne jó zombi lenni, így az áldozatok emlékeit felhasználva segít neki a gyilkosságok megoldásában.
                Közben barátja, és egyben hullaházi munkatársa Riv segítségével azt kutatja, mi állhat az átváltozása
                mögött, és hogyan lehetne újra élő ember.
                <br><br>
                <img id="Img3" src="assets/izombie2.jpg" alt="vmi">
                A cselekmény hátterét a megoldásra váró bűnügyek és a zombi lét mindennapos küzdelmei adják. A fő szál
                Liv karakterfejlődése, a lányok tipikus, mindennapi problémáival, új "élethelyzettel" való küzdelme,
                humorral fűszerezve. Ám a sorozat igazi erőssége a narratíva. Ahogy a frissen zombivá változott Liv
                saját szemszögéből mutatja be vívódásait, érzéseit, döntéseinek miértjét, vagy épp bánja meg korábbi
                tetteit.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">Daybreak</div><br>
            <div class="cikk">
                <img id="Img4" src="assets/daybreak.jpg" alt="vmi">
                A Netflix, posztapokaliptikus komédiája Brien Ralph képregénye alapján készült. A sorozat egy 17 éves
                srácról szól, aki eltűnt barátnőjét keresi egy posztapokaliptikus világban – ő csapódik hozzá egy
                fiatalokból álló csoporthoz, amiben egy 12 éves piromániás lány és egy pacifista szamuráj (korábbi
                középiskolás bully-ja) is van. A srác a túlélésre hajt a Mad Max-szerű bandák (gonosz sportolókból és
                amazonná vált pompomlányokból állnak) és zombiszerű lények világában.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">Santa Clarita Diet</div><br>
            <div class="cikk">
                <img id="Img4" src="assets/santa.jpg" alt="vmi">
                A sorozat története szerint Sheila és Joel boldog párt alkot Santa Clarita városában, Kaliforniában.
                Mindketten ingatlanügynökként dolgoznak, ám amikor Sheila váratlanul élőholttá változik, mindkettőjük
                élete egy csapásra felfordul. Sheila elkezd nyers húst... majd embereket enni. A furcsa pár elhatározza,
                hogy ha már áldozatokra van szükség, olyanokra essen a választás, akik megérdemlik, hogy eleséggé
                váljanak.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">Z, mint zombi</div><br>
            <div class="cikk">
                <img id="Img6" src="assets/zmint.jpg" alt="vmi">
                Bolygónkat egy zombi vírus csaknem teljesen kipusztította. Három évvel az apokalipszist követően egy
                maroknyi túlélő 2500 mérföldes útra indul: az egyetlen immunis túlélőt, Murphyt kell New Yorkból
                Kaliforniába, az utolsó, még működő kutatólaborba eljuttatniuk - élve. A férfi vére ugyanis olyan
                antitesteket tartalmaz, ami a túlélők egyetlen esélye lehet egy ellenszer elkészítésére. Murphy azonban
                olyan titkokat tud, ami mindannyiuk életét veszélybe sodorhatja.
            </div>

        </div>


    </div>
</div>