<div id="back">
    <div id="grey" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="120px">

        <div id="title">Általános tudnivalók a zombikról</div>



        <div class="szovegTomb">
            <div class="alcim">Mi az a zombi?</div><br>
            <div class="cikk">A zombi a Karib-tengeri vudu vallás találmánya és eredetileg olyan szerencsétlen elhunytat
                jelölt, akit egy hatalmas mágus felélesztett, és kénye-kedve szerint dolgoztatott. Hát ettől mára elég
                messze jutottunk, a modern popkultúrában a zombiság ugyanis valamiféle szörnyű betegség, amit egy még
                szörnyűbb vírus terjeszt harapással vagy cseppfertőzéssel. Ezen a ponton a források már nem mindenben
                értenek egyet, van ahol egy önálló Solanum nevezetű vírus okozza az átváltozást, mások radioaktív NASA
                szerkezeteket vagy mutálódott emberi kórokozókat hibáztatnak. Bármi is az igazság, ha felkészülten
                várjuk a zombi apokalipszis eljövetelét,
                akkor nagy valószínűséggel más természeti katasztrófát is könnyebben túlélünk majd.
            </div>
        </div>

        <div class="szovegTomb">
            <div class="alcim">Fontosabb jellemzőik</div><br>
            <div class="cikk" id="cikk2">
                <img id="ImgClassik" src="assets/12.png" alt="vmi">
                A legtöbb esetben a zombi olyan mozgó holttest, amiben csak a táplálkozási ösztön (szaftos emberi agy
                iránti vágy) vagy egyszerűen a gyilkolási kényszer van jelen. Mivel reanimált holttestről beszélünk, a
                szervek közül többnyire csak az agy - meglehetősen csökkentett üzemmódban - működik, esetleg a tüdő némi
                hörgés erejéig. Általánosságban elmondható, hogy a zombik nem különösen gyorsak, nem tudnak úszni, és
                nem használnak eszközöket. Többnyire átlagos emberi erővel rendelkeznek, viszont érzéketlenek a
                fájdalomra és kevés hatékony módja van az elpusztításuknak. Szerencsére különleges képességeknek nem
                igazán vannak birtokában, de érdemes felkészülni a legrosszabbra.

                <br><br> A zombi elpusztításának jól bevált módszere a sétáló halott agyának kiiktatása. Erős ütéssel
                vagy egy golyóval kell lobotómiát végrehajtani, esetleg egy éles karddal elválasztania a fejet a test
                többi részétől. A tűz is hatásos lehet, de pont a fájdalomérzet hiánya miatt, az égő zombi veszélyt
                jelenthet az emberekre és a vagyontárgyakra is. Szétszabdalni nem nagyon érdemes őket, a savval történő
                pusztításuk pedig meglehetősen körülményes. Szintén jellemző a zombikra, hogy a hangok és a fények
                vonzzák őket, valamint időnként bizonyos szagok is. Jelentősen javítja a zombikkal szembeni esélyeinket,
                ha rendelkezünk egy mozdítható túlélő felszereléssel. Ezt érdemes még jóval a világvége előtt
                összeállítani, amikor ilyesmire még senki sem gondol, így olcsón be lehet szerezni a hozzávalókat.
            </div>
        </div>


        <div class="szovegTomb">
            <div class="alcim">Fajtáik</div><br>
            <p class="cikk">
                <img id="ImgCsirke" src="assets/zCsirke.png" alt="vmi">
                A kutatások összesen nyolc „zombifajtát” nevesítenek. A „patogén zombikat” valamilyen fertőző ágens, a
                „sugárzó zombikat” a radioaktív sugárzás, a „gonosz mágikus zombikat” az okkultizmus kelti életre.
                Utóbbiak ellen egyébként a hadsereg a tábori lelkészeket vetné be, támadás esetén pedig főként az
                ateisták lennének életveszélyben. Az „űrzombiknak” földönkívüli mérgező anyagok adnának „életet”, a
                biofegyverként alkalmazott élőhalottakat viszont ellenséges erők (talán éppen terroristák) szabadítanák
                az amerikaiakra. A terv számol parazitafertőzéssel létrejött zombikkal is, de a legbizarrabb mégis az
                élelmiszer-tartalékokat fenyegető vegetáriánus zombik és tyúkzombik említése. Meglepő, de utóbbiak
                valóban „léteznek”: a tojásrakásra már képtelen, öreg szárnyasoktól a farmerek úgy szabadulnak meg, hogy
                szén-monoxiddal „örök kábulatba” küldik őket. Előfordult már viszont, hogy a baromfi nem pusztult el, és
                szabályszerűen kiásta magát a föld alól.
            </p>
        </div>


    </div>
</div>