$basic-green : #709874;
$basic-pink : #C89498;
$basic-grey: #333333;
$text-green: #ACC3AE;
$basic-font-family: 'Arial';


#back {
    background-color: $basic-pink;
    width: 100%;
}

#grey {
    background-color: $basic-grey;
    border-radius: 5rem 5rem 0 0;
    width: 100%;
    padding: 100px 20px 100px 20px;
}

@media only screen and (max-width: 600px) {
    #grey {
        padding: 50px 30px 50px 30px;
    }
}

#title {
    color: $basic-pink;
    font-weight: bold;
    font-family: $basic-font-family;
    font-size: 45px;
    letter-spacing: 0.1px;
    text-align: center;
    line-height: 50px;
    text-shadow: 5px 5px 4px black;
}

.alcim {
    color: $basic-pink;
    font-weight: bold;
    font-family: $basic-font-family;
    font-size: 35px;
    line-height: 40px;
    text-shadow: 5px 5px 4px black;
    padding-bottom: 10px;
}

.szovegTomb {
    max-width: 1000px;
    text-align: justify;
}

.cikk {
    color: $text-green;
    font-family: $basic-font-family;
    font-size: 22px;
    line-height: 27px;
}

#ImgCsirke {
    float: right;
    height: 300px;
    padding-left: 50px;
}

#cikk2 {
    float: right;
}

#ImgClassik {
    float: left;
    height: 310px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 6px $basic-green;
    border-radius: 1rem;
}


@media only screen and (max-width: 600px) {
    #ImgClassik {
        height: 270px;
        margin-right: 10px;
    }
}